
@{
    ViewBag.Title = "Index";
}




<html>
<head>
    <meta charset="utf-8" />
    <title></title>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
        function allcus() {

            jQuery.support.cors = true;
            $.ajax({

                url: '/api/AdminApi',
                type: 'GET',
                datatype: 'json',
                success: function (data) {
                    WriteResponses(data);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });

            function WriteResponses(data) {
                var strResult = "<table border=1><th>Book Id</th><th>Book Title</th><th>Year</th><th>Price</th><th>Genre</th>";
                $.each(data, function (index, customer) {
                    strResult += "<tr><td>" + customer.CustomerId + "</td><td>" + customer.CustomerName + "</td><td>" + customer.Gender + "</td><td>" + customer.ContactNo + "</td><td>" + customer.Address + "</td></tr>";
                });
                strResult += "</table>";
                $("#divResult").html(strResult);
            }
        }
        



    </script>
</head>
<body>
    <div id="divResult">

    </div>
    <input type="button" value="xyz" onclick="allcus()" />
    <h1>List Of Books</h1>
    <div id="divResult" style="margin-left:15px"></div>
</body>
</html>
