
@{
    ViewBag.Title = "Index";
}


<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="jumbotron">
        @*<meta charset="utf-8" />*@
        <a href="/Dealer/Index" class="btn btn-primary" role="button">Customer</a><br /><br /><br />
        <a href="/Showroom/Index" class="btn btn-primary" role="button">Employee</a><br /><br /><br />
        <a href="/Vehicle/Index" class="btn btn-primary" role="button">Admin</a><br /><br /><br />

    </div>
</body>

